Django>=4.2,<5.0
psycopg2-binary>=2.9
geopy>=2.3
django-leaflet>=0.28.1
opencage>=2.2.0
gunicorn>=20.1
python-decouple>=3.8
whitenoise>=6.6
dj-database-url>=2.1
googlemaps
django-cors-headers
pyarrow>=12.0.0
# GDAL nie wymaga podawania wersji, pip weźmie systemową bibliotek
