.sidebar-left-container {
  container-type: inline-size;
}
.sidebar-left {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  overflow-y: auto;
  padding: 2rem 1.5rem;
  row-gap: 1rem;
  column-gap: 0.75rem;
  color: #fff;
  scrollbar-width: auto;
  scrollbar-color: var(--violet-200) var(--orange);
  grid-auto-rows: min-content;

  .sidebar__header {
    position: relative;
    margin-top: calc(var(--header-h) + 2rem);
    margin-inline: 1rem 3rem;
    > img {
      width: 90%;
      position: relative;
    }
    a {
      position: absolute;
      top: -3rem;
      right: -2.5rem;
      width: clamp(90px, 40%, 120px);
      z-index: 1;
    }

    h3 {
      margin-top: 1.5rem;
    }
  }

  &::-webkit-scrollbar {
    width: 16px;
  }

  &::-webkit-scrollbar-track {
    background: var(--orange);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--violet-200);
    border-radius: 8px;
    border: 3px solid var(--orange);
  }
}
.full-width {
  grid-column: -1/1;
}

.subgrid {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: -1/1;
}
/* Filtry */
#help-filters {
  .help-filter {
    display: grid;
    border: 2px solid var(--btn-ring);
    aspect-ratio: 1.8;
    place-items: center;
    font-size: 0.75rem;
    border-radius: 0.75rem;
    gap: 0.5rem;

    img {
      width: 25%;
      align-self: end;
    }

    .label {
      align-self: start;
    }
    @media (width > 1200px) {
      aspect-ratio: 1.2;
      img {
        width: 40%;
      }
    }
  }
}

.type-filters .filter-tile {
  grid-column: 1/3;

  + & {
    grid-column: -3/-1;
  }
}

.input-col {
  grid-column: 1 / -2;
  display: flex;
  flex-direction: column;
  gap: 0.375rem;

  + .input-col {
    grid-column: -2 / -1;
  }
  label {
    font-size: 0.875rem;
  }
  input,
  select {
    appearance: none;
    padding: 0.75rem;
    font-size: 0.85rem;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 100%;
  }
}
.horizontal-line {
  background-color: white;
  height: 1px;
}

.sidebar-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#help-filters {
  row-gap: 0.75rem;
}

#type-filters {
  row-gap: 0.75rem;
}

@container (inline-size >= 480px) {
  .sidebar-left {
    grid-template-columns: repeat(4, minmax(0, 1fr));

    .sidebar__header {
      max-width: 30rem;

      a {
        right: -3rem;
      }
    }
  }
}

@media (height > 900px) {
  .sidebar-left {
    row-gap: clamp(1rem, 5vh, 2.5rem);
  }
}

@media (width > 800px) {
  .sidebar-left {
    padding: 0 1rem 2rem;
  }
}
